/* mixins */

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-center-column {
  @include flex-center;
  flex-direction: column;
}

@mixin flex-center-vert {
  display: flex;
  align-items: center;
}

@mixin flex-center-horiz {
  display: flex;
  justify-content: center;
}

@mixin inline {
  font-size: 0.75rem;
  font-family: sans-serif;
  color: #666;
}

@mixin tab {
  position: relative;
  top: -1.5rem;
  padding: 0.125rem;
  outline: 1px solid gray;
  background-color: #333;
  color: #eee;
}